.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.hidden {
  opacity: 0;
  padding: 0;
  margin: 0;
  height: : 0;
  width: 0;
  overflow: hidden;
  line-height: 0;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link h1 {
  font: 2em 'Arial', sans-serif;
  font-weight: bold;
  color: #268dec;
}

.App-link h3 {
  font: 1.6em 'Arial', sans-serif;
  color: #086ac4;
}

.App-link p {
  font: 1em 'Arial', sans-serif;
  line-height: 1.6em;
  color: #364a5d;
}

.App-link a {
  font: 1.1em 'Arial', sans-serif;
  color: #009cc7;
  font-weight: bold;
  display: block;
  padding: 0.6em;
  text-decoration: none;
}

.App-link a:hover {
  color: #f11414;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
